    <h1>Insertar clientes</h1>
    <form method="POST">
        <label for="nombre">Nombre</label>
        <input type="text" id="nombre" name="nombre">
        <br>
        <label for="num_cel">Telefono</label>
        <input type="text" id="num_cel" name="num_cel">
        <br>
        <label for="correo_electronico">Correo Electronico</label>
        <input type="text" id="correo_electronico" name="correo_electronico">
        <br>
        <label for="sexo">Sexo</label>
        <input type="text" id="sexo" name="sexo">
        <br>

        <button type="submit" class="btn btn-primary">Insertar</button>
    </form>